@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

:root {
  --bg-color: #fff8f6;
  --button-links: #0a683b;
  --primary-texts: #000;
  --secondary-texts: #fff;
}

* {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  padding: 0 12rem;
}

nav {
  padding: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #0a683b;
  transition: 0.3s;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.links a {
  padding-left: 4rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary-texts);
  transition: 0.3s;
}

.links a:hover {
  color: #346233;
}

.hero {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 18rem;
  padding: 7rem 6rem;
}

h2 {
  padding-bottom: 2rem;
  font-size: 70px;
}

p {
  font-size: 25px;
}

.beverage img {
  position: relative;
  border-radius: 50%;
}
