@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

:root {
  --bg-color: #fff8f6;
  --secondary-bg-color: #76232f;
  --button-links: #0a683b;
  --primary-texts: #000;
  --secondary-texts: #fff;
}

* {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
}

nav {
  position: fixed;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 50rem;
  width: 100vw;
  margin: 0;
  background-color: var(--bg-color);
  z-index: 100; /* Optional: to ensure it appears above other content */
}

.nav__logo {
  margin: 0;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #0a683b;
  transition: 0.3s;
  margin: 0;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
}

.nav__links a {
  padding-left: 3rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary-texts);
  transition: 0.3s;
}

.links a:hover {
  color: #346233;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14rem;
  padding: 7rem 6rem;
}
.details .title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.details .description {
  font-size: 1.4rem;
}

.details .order__now {
  background-color: var(--button-links);
  color: var(--secondary-texts);
  padding: 1rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.3rem;
  border: none;
  transition: 0.3s;
}

.beverage img {
  position: relative;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #006241;
}

.drink img {
  border-radius: 0;
  width: 500px;
  height: 500px;
  background-color: #006241;
  border-radius: 1rem;
}
.food img {
  border-radius: 0;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
}
#drink,
#food {
  gap: 12rem !important;
}

.contact-about {
  position: relative;
  display: flex;
  padding: 0 10rem;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-texts);
}
.contact {
  flex: 1;
  margin: 5rem;
}

.contact {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact h3,
.about h3 {
  font-weight: 800;
}

.contact input,
.contact textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  margin: 1rem 0;
}

.contact button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9a3142;
  color: var(--secondary-texts);
  cursor: pointer;
}

.vl {
  border: 2px solid var(--secondary-texts);
  height: 25rem;
  align-self: center;
}

.about {
  flex: 1;
  margin: 5rem;
  justify-content: flex-start;
}

.about h4 {
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  background-color: var(--button-links);
  color: var(--secondary-texts);
  justify-content: space-around;
  gap: 50rem;
}
.end__footer {
  display: flex;
}
.copyright {
  margin: 20px;
}
.links {
  list-style: none;
  display: flex;
  margin: 10px;
}
.social__links a {
  position: relative;
  color: #ffffff;
  padding-left: 3rem;
  font-size: 1.5rem;
}
.social__links a:hover {
  color: #ffc4c4;
}
